canvas {
    border: 2px solid black;
    box-sizing: border-box;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
}

.game {
    position: relative;
}

.btn {
    cursor: pointer;

    min-height: auto;
    border: none;
    background-color: rgb(230, 230, 230);

    font-family: 'Courier New', Courier, monospace;
}

.btn:hover {
    background-color: rgb(200, 200, 200);
}

.btn:focus {
    outline: none;
}


.board_ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 2;
}

.board_ui .btn {
    width: 60%;
    height: auto;
    margin: 10px 0; /* space between buttons */
}


.external_ui {
    display: flex;
}

.external_ui .btn {
    flex: 1;
    height: 100%;
}

.label {
    background-color: rgb(230, 230, 230);

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border: 2px solid black;
    border-bottom: none;

    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}